<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Ku-Ke-Ri</title>
    <link href="<%= static_path(@conn, "css/normalize.css") %>" rel="stylesheet">
</head>
<body>
<div id="content"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.4.4/phaser.js"></script>
<script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
