<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Ku-Ke-Ri</title>
    <script src="<%= static_path(@conn, "js/app.js") %>"></script>
</head>
<body style="margin: 0;">

<script type="text/javascript">
    require("web/static/js/app");
    window.onload = initGame();
</script>

</body>
</html>
